{% extends "blog/base.html" %}
{% block content %}

<!-- ABOUT US PAGE HTML -->
<div class="container">
  <div class="jumbotron text-center">
    <h1>About CodeWeb</h1>
    <p>CodeWeb is dedicated to helping people learn about the latest cyber security threats and how to protect themselves online.</p>
  </div>

  </div>
  <div id="founders" class="row">
    <div class="col-md-6">
      <div class="card">
        <img src="/media/profile_pics/about/Idan.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Idan Buller</h5>
          <p class="card-text">A brief description of Founder 1 and their role at CodeWeb.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img src="/media/profile_pics/about/Einav.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Einav Pincu</h5>
          <p class="card-text">A brief description of Founder 2 and their role at CodeWeb.</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-6">
      <br>
      <br>
      <h3>Our Mission</h3>
      <p>Our mission is to provide a comprehensive and engaging e-learning experience for people who want to learn about cyber security and how to protect themselves online. We believe that everyone has the right to stay safe and secure in the digital world, and we're dedicated to making that a reality.</p>
    </div>
    <div class="col-md-6">
      <br>
      <br>
      <h3>Our Team</h3>
      <p>CodeWeb is made up of a passionate team of security experts and educators who are dedicated to making the world a safer place. Our team is constantly learning and exploring the latest security trends and threats so that we can provide the most up-to-date and relevant information to our users.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Our Values</h3>
      <ul>
        <li>Education: We believe that knowledge is power, and that everyone should have access to the information they need to stay safe online.</li>
        <li>Accessibility: We believe that learning about cyber security should be accessible to everyone, regardless of their background or experience level.</li>
        <li>Innovation: We're constantly exploring new and better ways to deliver information and help people learn about cyber security.</li>
        <li>Security: We take security seriously, and we're committed to helping others stay secure in the digital world.</li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
