{% extends "blog/base.html" %} {% block content %}

<h1>Clickjacking Attack</h1>
<h2>Overview</h2>
<p>A Clickjacking Attack is a type of attack where an attacker tricks a user into clicking on a button or a link that is invisible or disguised, usually by overlaying the button or link with another web page element. This type of attack can result in the user unintentionally executing malicious actions, such as downloading malware, visiting a phishing site, or revealing sensitive information.</p>
<h2>How does a Clickjacking Attack work?</h2>
<p>A Clickjacking Attack works by using HTML frames or iframes to hide the true destination of a link or button behind another page element. For example, an attacker might create a page with a button that appears to be a harmless "Like" button, but in reality, the button is linked to a malicious site. When the user clicks on the button, they will unknowingly execute the malicious action, such as downloading malware or revealing sensitive information.</p>
<h2>What is the impact of a successful Clickjacking Attack?</h2>
<p>A successful Clickjacking Attack can result in the theft of sensitive information, the installation of malware on the user's device, or the execution of unauthorized actions, such as sending spam or posting inappropriate content on behalf of the user. This type of attack can also lead to a loss of trust in the targeted website or application, as well as damage to the user's reputation and online security.</p>
<p><strong>Try it yourself:</strong> Go to this URL: https://clickjacker.io/test?url=[url] and observe that the website is getting embeded in an Iframe.
<br>In the image below we can observe that the  website is getting embeded in an Iframe:
   <img src="/media/clickjacking.png" class="card-img-top">
</p>
<h2>How to prevent Clickjacking Attacks</h2>
<p>There are several ways to prevent Clickjacking Attacks, including:</p>
<ul>
  <li>Using the X-Frame-Options header to prevent your site from being embedded in an iframe</li>
  <li>Using the Content Security Policy (CSP) header to restrict the sources that are allowed to be embedded in an iframe</li>
  <li>Using JavaScript to detect and block embedded iframes</li>
  <li>Educating users about the dangers of clicking on unfamiliar buttons or links, and how to spot and avoid Clickjacking Attacks</li>
</ul>
<p>It's important to be vigilant in protecting against Clickjacking Attacks, as they are a growing threat to the security and privacy of internet users. </p>
<br>
<p>
Django provides built-in protection against clickjacking attacks through its middleware framework.<br>
  To protect against clickjacking attacks, Django includes a middleware class called XFrameOptionsMiddleware that sets the X-Frame-Options header for all responses. The X-Frame-Options header allows a site to control whether its pages can be displayed within an iframe, and is supported by most modern browsers.
<br><br>
The XFrameOptionsMiddleware class provides three possible values for the X-Frame-Options header:
<br>
<strong>DENY:</strong> The page cannot be displayed in an iframe.<br>
  <strong>SAMEORIGIN</strong>>: The page can only be displayed in an iframe on the same domain as the page.<br>
<strong>ALLOW-FROM uri</strong>: The page can be displayed in an iframe on the specified uri.<br>
By default, Django's XFrameOptionsMiddleware sets the X-Frame-Options header to DENY, which ensures that a page cannot be displayed in an iframe on any domain.<br>
<br>
To enable XFrameOptionsMiddleware, add it to the MIDDLEWARE list in your Django settings file:<br>
  <pre>
  <code>
    MIDDLEWARE = [
    # ...
    'django.middleware.clickjacking.XFrameOptionsMiddleware',
    # ...
]
  </code>
  </pre>
  Once enabled, the X-Frame-Options header will be automatically set for all responses in your Django app, helping to protect against clickjacking attacks.
</p><br><br><br>
{% endblock %}