{% extends "blog/base.html" %}
{% block content %}

<!-- HOME PAGE HTML -->
<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to CodeWeb!</h1>
    <p>Learn about the latest cyber security threats and how to protect yourself online with our interactive and engaging e-learning system.</p>
    <a href="about" class="btn btn-primary">Learn About CodeWeb</a>
  </div>

  <div id="courses" class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="/media/default.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">XSS HUB!</h5>
          <p class="card-text">Learn about the latest Cross-Site-Scripting threats and how to protect yourself online with our interactive and engaging XSS Hub.</p>
          <a href="/AllXSS" class="btn btn-primary">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="/media/default.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">SQLi HUB!</h5>
          <p class="card-text">Learn about the latest SQLi threats and how to protect yourself online with our interactive and engaging SQL Injection Hub.</p>
          <a href="/AllSQLi" class="btn btn-primary">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="/media/default.png" class="card-img-top">
              <div class="card-body">
          <h5 class="card-title">Bonus HUB!</h5>
          <p class="card-text">Learn about the latest cyber threats and how to protect yourself online with our interactive and engaging Bonus Hub.</p>
          <a href="/AllBonus" class="btn btn-primary">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
