{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Reflected XSS</h1>
<h2>Overview</h2>
<p>Reflected Cross-Site Scripting (XSS) is a type of vulnerability that occurs when user-supplied data is dynamically included in a web page without proper validation or sanitization. The malicious payload is delivered to the website via a URL or a form, and is reflected back to the user's browser where it is executed. This type of XSS attack is often used in phishing attacks to steal sensitive information such as user credentials, or to perform malicious actions on behalf of the user.</p>
<p>Reflected XSS can be especially dangerous when combined with social engineering tactics, such as tricking the user into clicking a link with a malicious payload. In this section, we'll explain what Reflected XSS is, provide some common examples, and summarize how to prevent Reflected XSS vulnerabilities in web applications.</p>
<h2>What is the impact of a successful Reflected XSS attack?</h2>
<p>A successful Reflected XSS attack can result in sensitive information being stolen or manipulated, such as user credentials or sensitive data displayed on the web page. In some cases, an attacker may be able to take complete control over the affected web page, allowing them to perform arbitrary actions on behalf of the user. The impact of a Reflected XSS attack can range from being a minor inconvenience to causing serious harm to users and the affected website or application.</p>
<p>In order to prevent Reflected XSS attacks, it is important to properly sanitize user-supplied input before inserting it into a web page. This can be done using various techniques such as encoding user input, using a Content Security Policy (CSP), or using a JavaScript library that provides XSS protection.</p>
<p>Now, try it yourself and search for a deal!</p>
<p>First you can look for the Essentials post, Try to enter <strong> Essentials </strong> and you will get the Essentials post</p>
    <p>Now use the following code to get reflected XSS: <br>
  <strong>&lt;script>alert("XSS")&lt;/script> </strong> <br>
</p>

<div class="content-section">
    <form method="GET" action="{% url 'blog-ReflectedXSS' %}">


        <input name="q" value="{{request.GET.q}}" placeholder="search..">
        <button class=" btn btn-success" type="submit">
            search
        </button>


    </form>
    <div>
    <ul>
        <h2>Your query was:
            <br/>
            <b>{{query | safe}}</b>
        </h2>

        {% for element in results %}
            <div>
                <h2 class="article-title">{{ element.title | safe }}</h2>
                <p class="article-content">{{ element.content | safe }}</p>
            </div>
        {% endfor %}
        </ul>
    </div>
</div>

<br>
<h2>What Happens In The Background?</h2>
<p>The following function search the posts: <br>
</p>
<pre>
											<code>
def ReflectedXSS(request):
    model = Post
    query = request.GET.get('q')
    results = ''
    if query:
        results = Post.objects.filter(Q(title=query) | Q(content=query))

    return render(request, 'blog/ReflectedXSS.html', {'results': results, 'query': query})
    </code>
										</pre>


<h2>How can Reflected XSS attacks be prevented?</h2>
<p>Reflected XSS attacks can be prevented by properly sanitizing user-supplied input before it is inserted into a web page. This can be done by encoding user input, using a Content Security Policy (CSP), or using a JavaScript library that provides XSS protection. It is also important to keep software up-to-date and to educate users about the dangers of Reflected XSS attacks and how to identify and avoid them.</p>


<h2>How To Defend?</h2>
<h5>After exploiting the <strong>Reflected XSS</strong> vulnerability, let's defend it! <br>
</h5>
<pre>
								<code>
&lt;div class="content-section">
  &lt;form method="GET">
    &lt;fieldset class="form-group">
      &lt;legend class="border-bottom mb-4">Submit New Deal&lt;/legend>
      &lt;input type="text" name="username" placeholder="Enter your name"&gt;
    &lt;/fieldset&gt;
    &lt;div class="form-group">
      &lt;button class="btn btn-outline-info" type="submit">Submit&lt;/button&gt;
    &lt;/div&gt;
  &lt;/form&gt;
&lt;/div&gt;
</code>
							</pre>
<p> In this example, user input is passed as a GET parameter in the URL. To defend against Reflected XSS, it's important to properly sanitize user input before displaying it on the page. This can be done by using server-side filtering and encoding, or by using client-side encoding before inserting user input into the HTML. Additionally, it's a best practice to avoid including user input in the page without proper encoding and validation.</p>
<p> Django has the "safe" options for inputs, try the best to avoid this option since it allow any type of input.</p>


{% endblock content %}